html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template,
[hidden] {
  display: none; }

a {
  -webkit-text-decoration-skip: objects;
  background-color: transparent; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  border-bottom: none; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  margin: .67em 0;
  font-size: 2em; }

mark {
  color: #000;
  background-color: #ff0; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  height: 0;
  overflow: visible;
  box-sizing: content-box; }

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit; }

optgroup {
  font-weight: bold; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0; }

legend {
  display: table;
  max-width: 100%;
  padding: 0;
  color: inherit;
  white-space: normal;
  box-sizing: border-box; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  padding: 0;
  box-sizing: border-box; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  margin: 0 auto;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.6;
  color: #615b5b; }

p {
  margin: 0;
  font-weight: 400; }

b,
strong {
  font-weight: 700; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.25;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 16px; }

a {
  color: #3088bf;
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear; }
  a:hover, a:active {
    color: #215c82; }
  a:focus {
    color: #215c82;
    outline: none; }

ul {
  padding-left: 20px;
  margin: 0; }

ol {
  padding-left: 20px;
  margin: 0; }

abbr {
  cursor: help;
  border-bottom: 1px dotted #ebeaea; }

blockquote {
  padding-left: 15px;
  margin: 10px 0;
  font-style: italic;
  color: #615b5b;
  border-left: 2px solid #ebeaea; }

hr {
  margin: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #ebeaea;
  border-left: 0; }

img {
  display: block;
  max-width: 100%;
  margin: 0; }

::-moz-selection {
  color: #fff;
  background-color: #121111; }

::selection {
  color: #fff;
  background-color: #121111; }

.grid {
  display: block;
  padding: 0;
  margin: 0 -20px;
  font-size: 0;
  text-align: left; }

.grid-cell {
  display: inline-block;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  font-size: 16px;
  text-align: left;
  vertical-align: top; }
  .grid-cell.with-1col {
    width: 8.33333%; }
  .grid-cell.with-2col {
    width: 16.66667%; }
  .grid-cell.with-3col {
    width: 25%; }
  .grid-cell.with-4col {
    width: 33.33333%; }
  .grid-cell.with-5col {
    width: 41.66667%; }
  .grid-cell.with-6col {
    width: 50%; }
  .grid-cell.with-7col {
    width: 58.33333%; }
  .grid-cell.with-8col {
    width: 66.66667%; }
  .grid-cell.with-9col {
    width: 75%; }
  .grid-cell.with-10col {
    width: 83.33333%; }
  .grid-cell.with-11col {
    width: 91.66667%; }
  .grid-cell.with-1off {
    margin-left: 8.33333%; }
  .grid-cell.with-2off {
    margin-left: 16.66667%; }
  .grid-cell.with-3off {
    margin-left: 25%; }
  .grid-cell.with-4off {
    margin-left: 33.33333%; }
  .grid-cell.with-5off {
    margin-left: 41.66667%; }
  .grid-cell.with-6off {
    margin-left: 50%; }
  .grid-cell.with-7off {
    margin-left: 58.33333%; }
  .grid-cell.with-8off {
    margin-left: 66.66667%; }
  .grid-cell.with-9off {
    margin-left: 75%; }
  .grid-cell.with-10off {
    margin-left: 83.33333%; }
  .grid-cell.with-11off {
    margin-left: 91.66667%; }

.grid-centered {
  max-width: 1340px;
  margin-right: auto;
  margin-left: auto; }

@media all and (max-width: 767px) {
  .grid-cell.with-1col {
    width: 100%; }
  .grid-cell.with-1off {
    margin-left: 0; }
  .grid-cell.with-2col {
    width: 100%; }
  .grid-cell.with-2off {
    margin-left: 0; }
  .grid-cell.with-3col {
    width: 100%; }
  .grid-cell.with-3off {
    margin-left: 0; }
  .grid-cell.with-4col {
    width: 100%; }
  .grid-cell.with-4off {
    margin-left: 0; }
  .grid-cell.with-5col {
    width: 100%; }
  .grid-cell.with-5off {
    margin-left: 0; }
  .grid-cell.with-6col {
    width: 100%; }
  .grid-cell.with-6off {
    margin-left: 0; }
  .grid-cell.with-7col {
    width: 100%; }
  .grid-cell.with-7off {
    margin-left: 0; }
  .grid-cell.with-8col {
    width: 100%; }
  .grid-cell.with-8off {
    margin-left: 0; }
  .grid-cell.with-9col {
    width: 100%; }
  .grid-cell.with-9off {
    margin-left: 0; }
  .grid-cell.with-10col {
    width: 100%; }
  .grid-cell.with-10off {
    margin-left: 0; }
  .grid-cell.with-11col {
    width: 100%; }
  .grid-cell.with-11off {
    margin-left: 0; } }
.button {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  border: 0;
  border-radius: 1px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .button:disabled {
    cursor: not-allowed;
    opacity: .4; }

.button-default {
  color: #615b5b;
  background-color: #ebeaea; }
  .button-default:hover {
    color: #615b5b;
    background-color: #f7f7f7; }
  .button-default:focus, .button-default:active {
    color: #615b5b;
    background-color: #d2cfcf;
    outline: none; }
  .button-default:disabled {
    color: #615b5b;
    background-color: #ebeaea; }

.button-danger {
  color: #fff;
  background-color: #e74b3c; }
  .button-danger:hover {
    color: #fff;
    background-color: #ea6053; }
  .button-danger:focus, .button-danger:active {
    color: #fff;
    background-color: #d62b1a;
    outline: none; }
  .button-danger:disabled {
    color: #fff;
    background-color: #e74b3c; }

.button-primary {
  color: #fff;
  background-color: #3088bf; }
  .button-primary:hover {
    color: #fff;
    background-color: #3b95ce; }
  .button-primary:focus, .button-primary:active {
    color: #fff;
    background-color: #266b96;
    outline: none; }
  .button-primary:disabled {
    color: #fff;
    background-color: #3088bf; }

.button-success {
  color: #fff;
  background-color: #1fbf92; }
  .button-success:hover {
    color: #fff;
    background-color: #23d5a3; }
  .button-success:focus, .button-success:active {
    color: #fff;
    background-color: #189370;
    outline: none; }
  .button-success:disabled {
    color: #fff;
    background-color: #1fbf92; }

.button-warning {
  color: #fff;
  background-color: #f1c90b; }
  .button-warning:hover {
    color: #fff;
    background-color: #f5d021; }
  .button-warning:focus, .button-warning:active {
    color: #fff;
    background-color: #c0a009;
    outline: none; }
  .button-warning:disabled {
    color: #fff;
    background-color: #f1c90b; }

.flash {
  display: inline-block;
  width: 100%;
  padding: 20px;
  font-weight: 700;
  border-radius: 1px; }

.flash-danger {
  color: #e74b3c;
  background-color: #fdf3f2; }

.flash-primary {
  color: #3088bf;
  background-color: #c9e2f2; }

.flash-success {
  color: #1fbf92;
  background-color: #b7f3e2; }

.flash-warning {
  color: #f1c90b;
  background-color: #fdf4cb; }

form {
  position: relative;
  display: block;
  clear: both; }

fieldset {
  display: block;
  min-width: 100%;
  padding: 20px;
  margin: 0;
  background-color: #ebeaea;
  border: 1px solid #ebeaea;
  border-radius: 1px; }

label,
input,
select,
textarea {
  display: inline-block;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  line-height: 1.6; }

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  color: #615b5b; }

input:not([type="submit"]):not([type="file"]):not([type="checkbox"]):not([type="radio"]),
textarea {
  width: 100%;
  padding: 10px 15px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #615b5b;
  background-color: #fff;
  border: 1px solid #d2cfcf;
  border-radius: 1px;
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  input:not([type="submit"]):not([type="file"]):not([type="checkbox"]):not([type="radio"]):hover,
  textarea:hover {
    border-color: #d2cfcf; }
  input:not([type="submit"]):not([type="file"]):not([type="checkbox"]):not([type="radio"]):focus, input:not([type="submit"]):not([type="file"]):not([type="checkbox"]):not([type="radio"]):active,
  textarea:focus,
  textarea:active {
    border-color: #3088bf;
    outline: none; }
  input:not([type="submit"]):not([type="file"]):not([type="checkbox"]):not([type="radio"]):disabled,
  textarea:disabled {
    cursor: not-allowed;
    opacity: .4; }

textarea {
  resize: vertical; }

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  margin-right: 10px; }

input[type="file"] {
  width: 100%; }

.form-item {
  position: relative;
  display: block;
  margin-bottom: 10px; }

table {
  width: 100%;
  margin: 0;
  border-collapse: collapse; }

th,
td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  border: 1px solid #ebeaea; }

th {
  font-weight: 700; }

.table-responsive {
  display: block;
  width: 100%;
  min-height: .01%;
  overflow-x: auto; }

.is-left {
  text-align: left; }

.is-centered {
  text-align: center; }

.is-right {
  text-align: right; }

.is-top {
  vertical-align: top; }

.is-middle {
  vertical-align: middle; }

.is-bottom {
  vertical-align: bottom; }

section {
  display: block;
  padding: 100px 0;
  border-bottom: 1px solid #ebeaea; }
  section .flash {
    margin-bottom: 10px; }
    section .flash:last-of-type {
      margin-bottom: 0; }

.grid-centered {
  padding: 0 50px; }

header {
  display: block;
  padding: 100px 0;
  border-bottom: 1px solid #ebeaea; }

.navigation {
  display: block;
  text-align: left; }

.navigation-logo {
  display: inline-block; }
  .navigation-logo img {
    width: 100px; }

.navigation-links {
  float: right;
  padding: 0;
  margin: 35px 0 0;
  list-style: none; }
  .navigation-links li {
    display: inline-block;
    margin-left: 60px; }
    .navigation-links li a {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: .15em;
      color: #121111;
      text-transform: uppercase; }

.intro-title {
  font-weight: 500;
  letter-spacing: .15em;
  color: #121111;
  text-transform: uppercase; }

.intro-subtitle {
  display: block;
  max-width: 600px;
  margin: 25px 0 0;
  font-size: 18px;
  font-weight: 500;
  color: #ada8a8; }

.intro-link {
  display: inline-block;
  padding: 10px 50px;
  margin-left: 15px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .15em;
  color: #fff;
  text-transform: uppercase;
  background: #121111;
  border: 2px solid #121111;
  border-radius: 1px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .intro-link:hover {
    color: #fff;
    background: #615b5b;
    border-color: #615b5b; }
  .intro-link:focus, .intro-link:active {
    color: #fff;
    background: #888181;
    border-color: #615b5b;
    outline: none; }
  .intro-link.is-empty {
    color: #393636;
    background: #fff; }
    .intro-link.is-empty:hover {
      color: #ada8a8;
      border-color: #888181; }
    .intro-link.is-empty:focus, .intro-link.is-empty:active {
      color: #ada8a8;
      background: #ebeaea;
      border-color: #888181; }

.info {
  padding: 50px 0 100px; }

.info-block {
  display: block;
  margin-top: 50px; }
  .info-block h6 {
    letter-spacing: .15em;
    color: #121111;
    text-transform: uppercase; }
  .info-block p {
    margin: 20px 0 0;
    font-size: 16px;
    font-weight: 500;
    color: #ada8a8; }
    .info-block p a {
      color: #615b5b; }
      .info-block p a:hover, .info-block p a:active, .info-block p a:focus {
        color: #121111; }

.stats-block {
  display: block;
  text-align: center; }
  .stats-block h1 {
    font-size: 50px;
    font-weight: 300; }

.install {
  text-align: center; }
  .install h4 {
    display: block;
    margin-bottom: 25px;
    letter-spacing: .15em;
    color: #121111;
    text-align: center;
    text-transform: uppercase; }
  .install code {
    display: inline-block;
    padding: 30px;
    font-family: "Inconsolata";
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    color: #615b5b;
    text-align: left;
    background: #f7f7f7;
    border-radius: 1px; }
    .install code span {
      padding: 2px 4px;
      background: #fff;
      border-radius: 1px; }

footer {
  display: block;
  padding: 50px 0; }
  footer a {
    display: inline-block;
    font-weight: 400;
    color: #ada8a8; }
    footer a:hover, footer a:focus, footer a:active {
      color: #615b5b; }
  footer iframe {
    float: right;
    margin-top: 3px;
    text-align: right; }

.element-title {
  display: block;
  letter-spacing: .15em;
  color: #121111;
  text-transform: uppercase; }
  .element-title.with-margin {
    margin-bottom: 50px; }

.element-subtitle {
  display: block;
  margin: 50px 0 25px;
  letter-spacing: .15em;
  color: #ada8a8;
  text-transform: uppercase; }

.element-grid .grid-cell {
  margin-bottom: 40px; }
  .element-grid .grid-cell.no-margin {
    margin-bottom: 0; }
  .element-grid .grid-cell p {
    display: block;
    padding: 20px 10px;
    color: #888181;
    text-align: center;
    background: #ebeaea;
    border-radius: 1px; }
  .element-grid .grid-cell.is-middle p {
    padding: 40px 10px; }

@media all and (max-width: 767px) {
  .grid-centered {
    padding: 0; }

  .navigation {
    text-align: center; }

  .navigation-logo {
    width: 80px; }

  .navigation-links {
    float: none;
    margin: 15px 0 0; }
    .navigation-links li {
      display: block;
      margin-top: 10px;
      margin-left: 0; }

  section {
    padding: 75px 0; }

  .info {
    padding: 25px 0 75px; }

  .intro-title {
    display: block;
    font-size: 20px;
    text-align: center; }

  .intro-subtitle {
    display: block;
    margin-bottom: 25px;
    text-align: center; }

  .grid-cell.intro-center {
    text-align: center; }
    .grid-cell.intro-center .button {
      width: 120px; }

  .stats-block {
    margin-top: 20px; }
    .stats-block.is-first {
      margin-top: 0; }
    .stats-block h1 {
      font-size: 50px;
      font-weight: 300; } }
