// =============================================================================
// Styles
// =============================================================================

// Overrides
// =============================================================================

main {
  font-family: "Lato";
}

section {
  display: block;
  padding: 100px 0;
  border-bottom: 1px solid $gray-lightest;
  .flash {
    margin-bottom: 10px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.grid-centered {
  max-width: 1250px;
}

// Navigation
// =============================================================================

header {
  display: block;
  padding: 100px 0;
  background: $gray-lightest;
}

.navigation {
  display: block;
  text-align: left;
}

.navigation-logo {
  display: inline-block;
  width: 100px;
}

.navigation-links {
  float: right;
  padding: 0;
  margin: 35px 0 0;
  list-style: none;
  li {
    display: inline-block;
    margin-left: 60px;
    a {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: .15em;
      color: $gray-darkest;
      text-transform: uppercase;
    }
  }
}

// Intro
// =============================================================================

.intro-title {
  font-weight: 500;
  letter-spacing: .15em;
  color: $gray-darkest;
  text-transform: uppercase;
}

.intro-subtitle {
  display: block;
  max-width: 600px;
  margin: 25px 0 0;
  font-size: 18px;
  font-weight: 500;
  color: $gray-light;
}

.intro-link {
  display: inline-block;
  padding: 10px 50px;
  margin-right: 15px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .15em;
  color: $white;
  text-transform: uppercase;
  background: $gray-light;
  border: 2px solid $gray-light;
  border-radius: 1px;
  transition: all $base-transition-speed linear;
  &:hover {
    color: $white;
    background: $gray;
  }
  &:focus,
  &:active {
    color: $white;
    border-color: $gray;
    outline: none;
  }
  &.is-empty {
    color: $gray-light;
    background: $white;
    &:hover {
      color: $gray-light;
      border-color: $gray;
    }
    &:focus,
    &:active {
      color: $gray-light;
      background: $gray-lightest;
      border-color: $gray;
    }
  }
}

// Info
// =============================================================================

.info {
  padding: 50px 0 100px;
}

.info-block {
  display: block;
  margin-top: 50px;
  h6 {
    letter-spacing: .15em;
    color: $gray-darkest;
    text-transform: uppercase;
  }
  p {
    margin: 20px 0 0;
    font-size: 16px;
    font-weight: 500;
    color: $gray-light;
  }
}

// Stats
// =============================================================================

.stats-block {
  display: block;
  text-align: center;
  h1 {
    font-size: 50px;
    font-weight: 300;
  }
}

// Install
// =============================================================================

.install {
  text-align: center;
  h4 {
    display: block;
    margin-bottom: 25px;
    letter-spacing: .15em;
    color: $gray-darkest;
    text-align: center;
    text-transform: uppercase;
  }
  code {
    display: inline-block;
    padding: 30px;
    font-family: "Inconsolata";
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    color: $gray-darker;
    text-align: left;
    background: $gray-lightest;
    border-radius: 1px;
    span {
      padding: 2px 4px;
      background: $white;
      border-radius: 1px;
    }
  }
}

// Footer
// =============================================================================

footer {
  display: block;
  padding: 25px 0;
  a {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: $gray-light;
    &:hover,
    &:focus,
    &:active {
      color: $gray-dark;
    }
  }
  iframe {
    float: right;
    text-align: right;
  }
}

// Elements
// =============================================================================

.element-title {
  display: block;
  letter-spacing: .15em;
  color: $gray-darkest;
  text-transform: uppercase;
  &.with-margin {
    margin-bottom: 50px;
  }
}

.element-subtitle {
  display: block;
  margin: 50px 0 25px;
  letter-spacing: .15em;
  color: $gray-light;
  text-transform: uppercase;
}

// Responsive
// =============================================================================

@include breakpoint(small) {
  .navigation {
    text-align: center;
  }
  .navigation-logo {
    width: 80px;
  }
  .navigation-links {
    float: none;
    margin: 15px 0 0;
    li {
      display: block;
      margin-top: 10px;
      margin-left: 0;
    }
  }
  section {
    padding: 75px 0;
  }
  .info {
    padding: 25px 0 75px;
  }
}
