// =============================================================================
// Styles
// =============================================================================

// Overrides
// =============================================================================

section {
  display: block;
  padding: 100px 0;
  border-bottom: 1px solid $gray-lightest;
  .flash {
    margin-bottom: 10px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.grid-centered {
  padding: 0 50px;
}

// Navigation
// =============================================================================

header {
  display: block;
  padding: 100px 0;
  border-bottom: 1px solid $gray-lightest;
}

.navigation {
  display: block;
  text-align: left;
}

.navigation-logo {
  display: inline-block;
  img {
    width: 100px;
  }
}

.navigation-links {
  float: right;
  padding: 0;
  margin: 35px 0 0;
  list-style: none;
  li {
    display: inline-block;
    margin-left: 60px;
    a {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: .15em;
      color: $gray-darkest;
      text-transform: uppercase;
    }
  }
}

// Intro
// =============================================================================

.intro-title {
  font-weight: 500;
  letter-spacing: .15em;
  color: $gray-darkest;
  text-transform: uppercase;
}

.intro-subtitle {
  display: block;
  max-width: 600px;
  margin: 25px 0 0;
  font-size: 18px;
  font-weight: 500;
  color: $gray-light;
}

.intro-link {
  display: inline-block;
  padding: 10px 50px;
  margin-left: 15px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .15em;
  color: $white;
  text-transform: uppercase;
  background: $gray-darkest;
  border: 2px solid $gray-darkest;
  border-radius: 1px;
  transition: all $base-transition-speed linear;
  &:hover {
    color: $white;
    background: $gray-dark;
    border-color: $gray-dark;
  }
  &:focus,
  &:active {
    color: $white;
    background: $gray;
    border-color: $gray-dark;
    outline: none;
  }
  &.is-empty {
    color: $gray-darker;
    background: $white;
    &:hover {
      color: $gray-light;
      border-color: $gray;
    }
    &:focus,
    &:active {
      color: $gray-light;
      background: $gray-lightest;
      border-color: $gray;
    }
  }
}

// Info
// =============================================================================

.info {
  padding: 50px 0 100px;
}

.info-block {
  display: block;
  margin-top: 50px;
  h6 {
    letter-spacing: .15em;
    color: $gray-darkest;
    text-transform: uppercase;
  }
  p {
    margin: 20px 0 0;
    font-size: 16px;
    font-weight: 500;
    color: $gray-light;
    a {
      color: $gray-dark;
      &:hover,
      &:active,
      &:focus {
        color: $gray-darkest;
      }
    }
  }
}

// Stats
// =============================================================================

.stats-block {
  display: block;
  text-align: center;
  h1 {
    font-size: 50px;
    font-weight: 300;
  }
}

// Install
// =============================================================================

.install {
  text-align: center;
  h4 {
    display: block;
    margin-bottom: 25px;
    letter-spacing: .15em;
    color: $gray-darkest;
    text-align: center;
    text-transform: uppercase;
  }
  code {
    display: inline-block;
    padding: 30px;
    font-family: "Inconsolata";
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    color: $gray-dark;
    text-align: left;
    background: lighten($gray-lightest, 5);
    border-radius: 1px;
    span {
      padding: 2px 4px;
      background: $white;
      border-radius: 1px;
    }
  }
}

// Footer
// =============================================================================

footer {
  display: block;
  padding: 50px 0;
  a {
    display: inline-block;
    font-weight: 400;
    color: $gray-light;
    &:hover,
    &:focus,
    &:active {
      color: $gray-dark;
    }
  }
  iframe {
    float: right;
    margin-top: 3px;
    text-align: right;
  }
}

// Elements
// =============================================================================

.element-title {
  display: block;
  letter-spacing: .15em;
  color: $gray-darkest;
  text-transform: uppercase;
  &.with-margin {
    margin-bottom: 50px;
  }
}

.element-subtitle {
  display: block;
  margin: 50px 0 25px;
  letter-spacing: .15em;
  color: $gray-light;
  text-transform: uppercase;
}

.element-grid {
  .grid-cell {
    margin-bottom: $gutter * 2;
    &.no-margin {
      margin-bottom: 0;
    }
    p {
      display: block;
      padding: 20px 10px;
      color: $gray;
      text-align: center;
      background: $gray-lightest;
      border-radius: $base-border-radius;
    }
    &.is-middle p {
      padding: 40px 10px;
    }
  }
}

// Responsive
// =============================================================================

@include breakpoint(small) {
  .grid-centered {
    padding: 0;
  }
  .navigation {
    text-align: center;
  }
  .navigation-logo {
    width: 80px;
  }
  .navigation-links {
    float: none;
    margin: 15px 0 0;
    li {
      display: block;
      margin-top: 10px;
      margin-left: 0;
    }
  }
  section {
    padding: 75px 0;
  }
  .info {
    padding: 25px 0 75px;
  }
  .intro-title {
    display: block;
    font-size: 20px;
    text-align: center;
  }
  .intro-subtitle {
    display: block;
    margin-bottom: 25px;
    text-align: center;
  }
  .grid-cell.intro-center {
    text-align: center;
  }
  .stats-block {
    margin-top: 20px;
    &.is-first {
      margin-top: 0;
    }
    h1 {
      font-size: 50px;
      font-weight: 300;
    }
  }
}
