// =============================================================================
// Icons
// =============================================================================

// Settings
// =============================================================================

@charset "UTF-8";
// @include font-face("icon-name", "icon-name", "false");

// Component
// =============================================================================

.icon {
  display: inline-block;
  width: 1.1em;
  font-family: fontawesome-webfont;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

// Descendant
// =============================================================================

// Add icons here
